body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

section{
    background-color: rgba(255, 0, 0, 0.074);
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: Josefin Sans;
}
.uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    position: absolute;
    top: 10%;
    left: 33%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.superior{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:10px;
    width: 95%;
}
.superior img{
    width: 50px;
    clip-path: circle(40%);
}
.superior div h4{
    margin: 0;
    padding: 0;
    font-size: 0.6em;
    font-weight: bold;
}
.superior div p{
    font-size: 0.1em;
}
.corazon{
    display: flex;
    justify-content: end;
    width: 30%;
}
.corazon img{
    clip-path: none;
    width: 12px;
    margin:0px 10px;
    padding: 6px;
    background-color: rgba(128, 128, 128, 0.076);
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.154);
}

.medio{
    width: 90%;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.11);
}
.medio h2{
    font-size: 0.6em;
}
.medio p{
    font-size: 0.4em;
}
.botones{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.boton{
    font-size: 0.1em;
    font-weight: bold;
    border: none;
    padding: 3px;
    margin: 0px 3px;
    border-radius: 5px;
    background-color: rgba(0, 21, 255, 0.159);
}

.inferior{
    width: 90%;
}
.inferior h1{
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
}
.inferior p{
    font-size: 0.2em;
}
.inferior button img{
    width: 15px;
}
.inferior button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:rgba(0, 136, 255, 0.812);
    border-radius: 10px;
    color: white;
    padding: 15px 0px;
    margin: 10px 0px;
    font-size: 0.6em;
    border: 1px solid transparent;
    transition-duration: 0.5s;
}
.inferior button:hover{
    background-color: black;
}

.dos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    position: absolute;
    top: 10%;
    right: 25%;
    background:linear-gradient(to bottom,rgb(52, 52, 52),black) ;
    border-radius: 20px;
}
.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 85%;
}
.one p{
    font-size: 0.7em;
    font-size: 200;
}
.one div select{
    background-color: rgb(77, 77, 77);
    border-radius: 5px;
    font-size: 0.5em;
    color: white;
    padding: 5px;
    border: none;
    box-shadow: 0 0 1px white;
}
.two{
    width: 85%;
    margin-top: 5px;
}
.two .puno{
    font-size: 0.6em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 500;
    color: white;
}
.pdos{
    font-weight: bold;
    margin: 0;
    font-size: 1.8em;
    color: white;
}
.pdos strong{
    color: grey;
}
.ptres .verde{
    font-weight: 300;
    color: rgb(17, 255, 0);
}
.ptres{
    font-size: 0.5em;
    color: white;
}


.tree{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.contenedor{
    display: flex;
}
.caja-gris{
    border-radius: 15px;
    background-color:rgb(77, 77, 77) ;
    margin: 5px;
    padding: 10px;
    width: 50%;
}
.caja-gris p{
    margin: 0;
    padding: 2px;
    font-size: 0.6em;
    color: rgb(167, 167, 167);
}
.caja-gris p .gris{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 500;
}
.caja-gris p span{
    color: white;
}
.caja-clara{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 238, 235);
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}
.caja-clara div{
    margin:0;
    width: 50%;
}
.caja-clara div h3{
    margin: 0;
    margin-top: 10px;
    font-size: 1em;
}
.caja-clara div p{
    margin: 0;
    font-size: 0.5em;
}
.caja-clara img{
    width: 45%;
    height: 45%;
}

.four{
    width: 90%;
    margin-top:30px;
}
.four h4{
    color: white;
    font-size: 0.7em;
    margin: 5px;
}
.four img{
    width: 100%;
}
.four p{
    color: rgb(164, 164, 164);
    font-size: 0.5em;
    margin: 2px 5px;
    margin-bottom: 20px;
}